@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

.font-logo {
  font-family: "Rammetto One", sans-serif;
}

.font-vk {
  font-family: "Vollkorn Variable", serif;
}

#root {
  width: 100%;
}

* {
  scrollbar-gutter: auto;
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}

.leaflet-tooltip {
  background: #262626 !important;
  border-radius: 0.5rem !important;
  border: none !important;
  box-shadow: none !important;
  &:before {
    border-top-color: #262626 !important;
  }
}
